<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Cadastro - Ordem Paranormal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    
    <!-- Notification Toast -->
    <div id="toast-notificacao" class="toast">Notificação padrão</div>

    <div class="login-box">
        <h1 style="color: #666; font-size: 24px;">RECRUTAMENTO</h1>
        <h2 style="color: var(--vermelho-ordem);">Novo Agente</h2>

        <form id="formCadastro">
            <input type="text" id="nome" placeholder="Nome Completo" required>
            <input type="email" id="email" placeholder="E-mail" required>
            <input type="password" id="senha" placeholder="Criar Senha" required>

            <select id="classe" name="classe" required>
                <option value="" disabled selected>Classe Inicial</option>
                <option value="combatante">Combatente</option>
                <option value="especialista">Especialista</option>
                <option value="ocultista">Ocultista</option>
            </select>

            <button type="submit" class="btn-login" style="margin-top: 20px;">REGISTRAR-SE NA ORDEM</button>
        </form>

        <p style="margin-top: 25px; font-size: 14px; font-family: 'Inter', sans-serif;">
            <a href="/" style="color: #b30000; text-decoration: none; font-weight: bold; padding-bottom: 2px; border-bottom: 1px solid #b30000;">VOLTAR AO ACESSO</a>
        </p>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>