<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Cadastro - Ordem Paranormal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="login-box">
        <h2>Novo Agente</h2>

        <form id="formCadastro">
            <input type="text" id="nome" placeholder="Nome" required>
            <input type="email" id="email" placeholder="E-mail" required>
            <input type="password" id="senha" placeholder="Senha" required>

            <select id="classe" name="classe">
                <option value="" disabled selected>Selecione uma Classe</option>
                <option value="combatante">Combatente</option>
                <option value="especialista">Especialista</option>
                <option value="ocultista">Ocultista</option>
            </select>

            <button type="submit">Registrar</button>
        </form>

        <p style="margin-top: 15px; font-size: 14px;">
            Já tem conta? <a href="/" style="color: #b30000; text-decoration: none;">Voltar ao Login</a>
        </p>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>