<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ordem Paranormal - Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="toast-notificacao" class="toast">Notificação padrão</div>

    <div class="login-box">
        <h1>Ordo Realitas</h1>
        <h2 style="font-size: 16px; margin-top: -20px; color: #888;">ACESSO AO SISTEMA</h2>

        <form id="formLogin">
            <input type="email" name="email" placeholder="E-mail de Agente" required autocomplete="email">
            <input type="password" name="senha" placeholder="Senha de Acesso" required>

            <select id="classe" name="classe">
                <option value="" disabled selected>Selecione seu Departamento</option>
                <option value="combatante">Combatente</option>
                <option value="especialista">Especialista</option>
                <option value="ocultista">Ocultista</option>
            </select>

            <button type="submit" class="btn-login">ACESSAR REGISTROS</button>
        </form>

        <div class="container-botoes">
            <button type="button" class="btn-cadastro"
                onclick="window.location.href='/pagina_cadastro'">RECRUTAMENTO</button>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>